@tailwind base;
@tailwind components;
@tailwind utilities;

/* .color {
  color: #fafbfb;
  color: #0a0d18;
  color: #0135d6;
  color: #174fc6;
  color: #aba7a5;
  color: #4e474b;
  color: #ad8349;
} */
